v1.4.4/examples/flows.json
[
    {
        "id": "d7eb274348082506",
        "type": "inject",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "timeout",
                "v": "2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 760,
        "wires": [
            [
                "5f883a7e404f5694"
            ]
        ]
    },
    {
        "id": "543f81abbc12d498",
        "type": "debug",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 820,
        "wires": []
    },
    {
        "id": "5f883a7e404f5694",
        "type": "function",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "func": "msg.host = ['192.168.1.1','192.168.1.2','192.168.1.3'];\nmsg.compact = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 760,
        "wires": [
            [
                "1b23dfc5e698422e"
            ]
        ]
    },
    {
        "id": "1b23dfc5e698422e",
        "type": "ping-many",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "host": "",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "543f81abbc12d498",
                "2e89b09bcf1eb4a8"
            ]
        ]
    },
    {
        "id": "2e89b09bcf1eb4a8",
        "type": "debug",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 860,
        "wires": []
    },
    {
        "id": "7c2617f66c90c5e5",
        "type": "function",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "func": "msg.host = '192.168.1.1';\nmsg.timeout = 10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 840,
        "wires": [
            [
                "1b23dfc5e698422e"
            ]
        ]
    },
    {
        "id": "72ccaf97f2d819a0",
        "type": "inject",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 840,
        "wires": [
            [
                "7c2617f66c90c5e5"
            ]
        ]
    },
    {
        "id": "54ae9670179f43de",
        "type": "function",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "func": "msg.host = [];\nmsg.host[1] = '192.168.1.1';\nmsg.host[2] = '192.168.1.2';\nmsg.host[7] = '192.168.1.7';\nmsg.host[220] = '192.168.1.220';\nmsg.timeout = 1;\nmsg.delta = 10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 920,
        "wires": [
            [
                "1b23dfc5e698422e"
            ]
        ]
    },
    {
        "id": "5f6a340c2e8878a6",
        "type": "inject",
        "z": "cce0fbf1b709a5e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 920,
        "wires": [
            [
                "54ae9670179f43de"
            ]
        ]
    }
]